<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="YahooAccountCreateSuite" value="ExecuteAccountCreationSuite"></add>-->
    <!--<add key="Suite1" value="YahooTestOperations:ValidateResults"></add>
    <add key="Suite2" value="YahooTestOperations:ValidateOneMore"></add>-->
    <add key="Suite3" value="YahooTestOperations:InputControls"></add>
    <!--<add key="YahooTestOperations" value="all"></add>-->
  </appSettings>
  
</configuration>